.cart {
    @media (min-width: 1400px) {

        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
            max-width: 1440px;
        }
    }

    .cart-title {
        display: flex;
        justify-content: space-between;
        align-items: 'center';
        padding-left: 10px;

        h2 {
            margin-bottom: 10px;
            margin-top: 5px;

            .cart-tt-text {
                display: inline-block;
                padding: 5px 20px;

            }
        }

        .tobill {
            text-decoration: none;

            &-icon {
                font-size: 24px;
                margin-right: 10px;
            }

            &-text {
                padding: 0px 10px;
                padding-bottom: 7px;
                margin-right: 20px;
                font-size: large;
                border: 2px #ff9900 solid;
                border-radius: 1cap;
                background-color: #ff9900 !important;
                text-align: center;
                color: #FFFFFF;
                font-weight: bold;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

                &:hover {
                    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
                    transform: translateY(-1px);
                    /* nổi lên nhẹ */
                }
            }

        }
    }

    .cart_tb td,
    .cart_tb th,
    .cart_tb tr {
        border-bottom: none !important;
        border-top: none !important;
    }

    .cart_tb tbody td {
        background-color: transparent !important;
        /* Loại bỏ nền riêng */
    }

    .cart_tb {
        padding: 20px;
        background: #fff;

        .cart-header,
        .cart-item {
            display: grid;
            grid-template-columns: 30px 120px 350px 1fr 150px 150px 150px 120px;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
            text-align: center;


            .item-info {
                padding: 0 10px;
            }

            .item-quantity {
                button {
                    width: 35px;
                    padding: 6px 0px;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    outline: none;
                    transition: border-color 0.2s ease, box-shadow 0.2s ease;
                    text-align: center;
                }

                input {
                    width: 60px;
                    padding: 6px 10px;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    outline: none;
                    transition: border-color 0.2s ease, box-shadow 0.2s ease;
                    text-align: center;
                }
            }
        }

        .cart-footer {
            display: grid;
            grid-template-columns: 30px 120px 1fr 400px 270px;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
            text-align: center;


            .checkout-btn {
                background-color: #ee4d2d;
                color: #fff;
                border: none;
                padding: 10px 20px;
                font-weight: bold;
                border-radius: 4px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

                &:hover {
                    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
                    transform: translateY(-1px);
                    /* nổi lên nhẹ */
                }
            }
        }

        .delete-btn {
            color: red;
            background: none;
            border: none;
            cursor: pointer;
        }
    }
}