.cart {
    @media (min-width: 1400px) {

        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
            max-width: 1440px;
        }
    }

    padding: 20px;
    background: #fff;

    h2 {
        margin-bottom: 20px;
    }

    .cart-header,
    .cart-item {
        display: grid;
        grid-template-columns: 100px 250px 1fr 150px 150px 150px 120px;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        text-align: center;
    }

    .item-info {
        padding: 0 10px;
    }

    .item-quantity {
        button {
            width: 30px;
            height: 30px;
        }

        input {
            width: 40px;
            text-align: center;
            margin: 0 5px;
        }
    }

    .cart-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;

        .checkout-btn {
            background-color: #ee4d2d;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            border-radius: 4px;
        }
    }

    .delete-btn {
        color: red;
        background: none;
        border: none;
        cursor: pointer;
    }
}