.badd,
.bfix,
.bdel {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
        transform: translateY(-1px);
        /* nổi lên nhẹ */
    }
}

// .title-text {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     max-width: 100%;
//     font-weight: bold;
//     vertical-align: top;
//     word-break: break-word;
//     max-height: 4.5em;
// }

// .description-text {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     max-width: 100%;
//     vertical-align: top;
//     word-break: break-word;
//     max-height: 7.5em;
// }

.title-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Số dòng muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    line-height: 1.5em;
    max-height: 4.5em;
    /* 1.5em x 3 dòng */
    font-weight: bold;
    text-align: left;
}

.description-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    line-height: 1.5em;
    max-height: 7.5em;
    /* 1.5em x 5 dòng */
    text-align: left;
}