.product {
    text-decoration: none !important;
    padding: 20px;
    width: 230px;
    height: 420px;
    // flex-direction: column;

    .product-img {
        // border-top-left-radius: 5%;
        // border-top-right-radius: 5%;
        width: 100%;
        object-fit: contain;
    }

    .product-detail-home {
        margin-bottom: 0 !important;
        padding-left: 1.5rem;
        ;

        .product-title-home {
            padding-top: 1rem;
            color: #000000;

        }

        .product-price-home {
            color: rgb(255, 0, 0);

        }


    }

    .addToCart-home {
        margin: 0 auto;
        display: grid;
        text-align: center;
        border-style: solid;
        border-width: 3px;
        border-color: #00e466;
        color: rgb(0, 0, 0);
        font-size: medium;
        height: 40px; // cố định chiều cao để hover không bị lệch
        transition: all 0.1s ease;

        &:hover {
            background-color: #00e466;
            color: rgb(251, 255, 0);
            font-size: medium; // không đổi font size nữa
            font-weight: 500;
            transform: scale(1.15);
        }
    }
}