body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1920px) {
  .App-container {
    max-width: 1920px;

    .Header-container {
      max-width: 1920px;

      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl,
      .container-xxl {
        max-width: 1900px;
      }
    }
  }
}



.App-container {
  .Header-container {
    .navbar-nav {
      .nav-link {
        &.active {
          color: black;
          font-weight: 700;
          background-color: cyan;
          border-radius: 18%;
        }
      }

      .btn-login {
        margin: 0 5px;
        padding: 5px 20px;
        border-width: 2px solid #4e4e4e;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 5px;

        &:hover {
          background-color: #e9e9e9;
        }
      }

      .btn-signup {
        margin: 0 5px;
        padding: 5px 20px;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 5px;
        color: white;

        &:hover {
          background-color: #4e4e4e;
        }
      }
    }
  }
}